<div class="container">
    <!-- <div class="create-post">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
            		<div class="col-md-7 col-sm-7">
                      <div class="form-group">
                        <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-photo-md">
                        <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                      <div class="tools">
                        <ul class="publishing-tools list-inline">
                          <li><a href="#"><i class="fa fa-pencil-square-o"></i></a></li>
                          <li><a href="#"><i class="fa fa-file-image-o"></i></a></li>
                          <li><a href="#"><i class="fa fa-video-camera"></i></a></li>
                          <li><a href="#"><i class="fa fa-map"></i></a></li>
                        </ul>
                        <button class="btn btn-primary pull-right">Publish</button>
                      </div>
                    </div>
            	</div>
        	</div>
    	</div>
    </div>
     -->
    <div class="friend-list pt-3">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="friend-card">
                    <img src="https://cdn.pixabay.com/photo/2014/06/18/13/23/time-371226_960_720.jpg" alt="profile-cover" class="img-responsive cover image-resizer">
                    <div class="card-info">
                    <img src="https://cdn.pixabay.com/photo/2018/11/13/22/01/instagram-3814081_960_720.png" alt="user" class="profile-photo-lg">
                    <div class="friend-info">
                      <h5><a href="timeline.html" class="profile-link">My Profile</a></h5>
                      <p>View and edit your profile</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                  <div class="friend-card">
                      <img src="https://cdn.pixabay.com/photo/2018/11/29/21/51/social-media-3846597_960_720.png" alt="profile-cover" class="img-responsive cover image-resizer">
                      <div class="card-info">
                      <img src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_960_720.png" alt="user" class="profile-photo-lg">
                      <div class="friend-info">
                        <!-- <a href="#" class="pull-right text-green">My Friend</a> -->
                        <h5><a href="timeline.html" class="profile-link">My Groups</a></h5>
                        <p>Groups you are part of</p>
                      </div>
                    </div>
                  </div>
                </div>
                
            <div class="col-md-6 col-sm-6">
              <div class="friend-card">
                  <img src="https://cdn.pixabay.com/photo/2017/09/09/08/40/inclusion-2731343_960_720.png" alt="profile-cover" class="img-responsive cover image-resizer">
                  <div class="card-info">
                  <img src="https://cdn.pixabay.com/photo/2012/04/02/16/07/plus-24844_960_720.png" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                    <!-- <a href="#" class="pull-right text-green">Create Group</a> -->
                  	<h5><a [routerLink]= "['groups/create']" class="profile-link">Create Group</a></h5>
                  	<p>Create work group</p>
                  </div>
                </div>
              </div>
            </div>
            
         
     
            
            <div class="col-md-6 col-sm-6">
              <div class="friend-card">
                  <img src="http://lorempixel.com/400/100/sports/3/" alt="profile-cover" class="img-responsive cover image-resizer">
                  <div class="card-info">
                  <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="user" class="profile-photo-lg">
                  <div class="friend-info">
                  	<h5><a href="timeline.html" class="profile-link">My Profile</a></h5>
                  	<p>View and edit your profile</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>