<div class="container">

  <div class="friend-list pt-3">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="friend-card">
          <img src="../../../assets/images/profile-cover.jpg" alt="profile-cover"
            class="img-responsive cover image-resizer">
          <div class="card-info">
            <img src="../../../assets/images/profile.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <h5><a [routerLink]="['profile']" class="profile-link">My Profile</a></h5>
              <p>View and edit your profile</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="friend-card">
          <img src="../../../assets/images/group-cover.png" alt="profile-cover"
            class="img-responsive cover image-resizer">
          <div class="card-info">
            <img src="../../../assets/images/group.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <!-- <a href="#" class="pull-right text-green">My Friend</a> -->
              <h5><a [routerLink]="['groups/my']" class="profile-link">My Groups</a></h5>
              <p>Groups you are part of</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="friend-card">
          <img src="../../../assets/images/create-group-cover.png" alt="profile-cover"
            class="img-responsive cover image-resizer">
          <div class="card-info">
            <img src="../../../assets/images/add-group.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <!-- <a href="#" class="pull-right text-green">Create Group</a> -->
              <h5><a [routerLink]="['groups/create']" class="profile-link">Create Group</a></h5>
              <p>Create work group</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>