<div class="container">
  <div class="friend-list pt-3">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <a [routerLink]="['profile']">
          <div class="friend-card">
            <img
              src="../../../assets/images/profile-cover.jpg"
              alt="profile-cover"
              class="img-responsive cover image-resizer"
            />
            <div class="card-info">
              <img
                src="../../../assets/images/profile.png"
                alt="user"
                class="profile-photo-lg"
              />
              <div class="friend-info">
                <h5>My Profile</h5>
                <p>View and edit your profile</p>
              </div>
            </div> 
            
          </div>
       </a>
      </div>

      <div class="col-md-6 col-sm-6">
        <a [routerLink]="['groups/my']">
          <div class="friend-card">
            <img
              src="../../../assets/images/group-cover.png"
              alt="profile-cover"
              class="img-responsive cover image-resizer"
            />
            <div class="card-info">
              <img
                src="../../../assets/images/group.png"
                alt="user"
                class="profile-photo-lg"
              />
              <div class="friend-info">
                <h5>My Groups</h5>
                <p>Groups you are part of</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-sm-6">
        <a [routerLink]="['groups/create']">
          <div class="friend-card">
            <img
              src="../../../assets/images/create-group-cover.png"
              alt="profile-cover"
              class="img-responsive cover image-resizer"
            />
            <div class="card-info">
              <img
                src="../../../assets/images/add-group.png"
                alt="user"
                class="profile-photo-lg"
              />
              <div class="friend-info">
                <h5>Create Group</h5>
                <p>Create work group</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
