<div class="container">
        <div class="row justify-content-center pt-3">
          <div class="col-md-6">
            <div class="card">
              <header class="card-header">
                <a [routerLink]="['/register']" class="float-right btn btn-outline-primary mt-1">Register</a>
                <h4 class="card-title mt-2">Log In</h4>
              </header>
              <article class="card-body">
                <form  ngNativeValidate (submit)="onLoginSubmit()">
                  <div class="form-group">
                    <label>Username</label>
                    <input [(ngModel)]="username" required name="username" type="text" class="form-control">
                  </div> <!-- form-group end.// -->
                  <div class="form-group">
                    <label>Password</label>
                    <input [(ngModel)]="password" required name="password" class="form-control" type="password">
                  </div> <!-- form-group end.// -->
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login </button>
                  </div> <!-- form-group// -->
                </form>
              </article> <!-- card-body end .// -->
              <div class="border-top card-body text-center">Need an account? <a [routerLink]="['/register']">Register</a></div>
            </div> <!-- card.// -->
          </div> <!-- col.//-->
      
        </div> <!-- row.//-->
      
      </div>
      <!--container end.//-->